 <br/>
  <ion-label text-center>Lets start with Basic Details!!</ion-label>
  <br/>
  <ion-content>
  <ion-card padding="20" >
    <ion-item>
      <ion-thumbnail slot="start">
            <ion-icon name="contact"></ion-icon>
        </ion-thumbnail>
          <ion-label position="floating">Name</ion-label> 
        <ion-input type="text"> </ion-input>
  </ion-item>
  <ion-item>
      <ion-thumbnail slot="start">
      <ion-icon name="call"></ion-icon>
    </ion-thumbnail>
      <ion-label position="floating">Contact No</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
  </ion-card>
 <ion-buttons>
   <ion-button shape="round" color="danger"></ion-button>
 </ion-buttons>  
   
</ion-content>
