 <br/>
  <ion-label text-center>Lets start with Basic Details!!</ion-label>
  <br/>
  <ion-app>
  <ion-content>
  <ion-card padding="20" offset="2">
    <br/><br/>   
    <ion-grid>
        <ion-row>
          <ion-col>
    <ion-item>
      <ion-thumbnail slot="start">
            <ion-icon name="contact"></ion-icon>
        </ion-thumbnail>
          <ion-label position="floating">Name</ion-label> 
        <ion-input type="text"> </ion-input>
  </ion-item>
  <ion-item>
      <ion-thumbnail slot="start">
      <ion-icon name="call"></ion-icon>
    </ion-thumbnail>
      <ion-label position="floating">Contact No</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item> 
  </ion-col>
</ion-row>
</ion-grid>
    <br/>
  <br/>
  <ion-grid>
    <ion-row>
      <ion-col offset="10">
        <ion-buttons>
               <ion-button color="primary" fill="solid"  slot="end" routerLink="/customer/tabs/rating">Next</ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-card>
  
  <br/>
  <p></p>
  <br/>
  <br/>
  <ion-item>
      <ion-label>Subscribe For News</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>  
</ion-content>
</ion-app>
