<ion-header>
  <ion-toolbar>
    <ion-title>My offers</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/places/tabs/offers/new">
      <ion-icon name="add" slot="icon-only"></ion-icon>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
        <ion-item *ngFor="let id of offer" routerLink="/places/tabs/offers/offer-bookings" detail>
           <ion-thumbnail slot="start">
               <ion-img [src]="id.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
                <h2>{{ id.title }}</h2>
                <p>{{ id.description }}</p>
              </ion-label>
        </ion-item> 
      </ion-list> 
      </ion-col> 
    </ion-row>
  </ion-grid>
</ion-card>

</ion-content>
